flask
flask-cors
pymongo
python-dotenv
marshmallow
groq
pypdf
python-pptx
moviepy
pinecone
PyMuPDF
langchain
langchain-community
langchain-text-splitters
sentence-transformers
openai
pillow
numpy
PyJWT
